# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Env
.env
venv/
env/

# Django stuff
*.log
staticfiles/
media/
local_settings.py

# VSCode / IDEs
.vscode/
.idea/

# OS files
.DS_Store

