{% extends 'base.html' %}
{% load static %}
{% block title %}Profile Settings{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'style-profilesettings.css' %}">
{% endblock %}

{% block content %}
<div class="profile-settings">
  <h2>Account Settings</h2>

  <form method="post" class="setting-form">
    {% csrf_token %}
    {{ user_form.as_p }}
    <button type="submit" name="save_info" class="btn btn-primary">Save Changes</button>
  </form>

  <hr>

  <h3>Change Password</h3>
  <form method="post" class="setting-form">
    {% csrf_token %}
    {{ pwd_form.as_p }}
    <button type="submit" name="change_password" class="btn btn-warning">Change Password</button>
  </form>

  <hr>

  <form method="get" action="{% url 'delete-account' %}" class="setting-form">
    <button type="submit" class="btn btn-danger">Delete Account</button>
  </form>
</div>
{% endblock %}
