{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Add Task</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'style-taskform.css' %}">
  <link rel="stylesheet" href="{% static 'style-header.css' %}">
</head>
<body>
  {% include "header.html" %}
  <div class="card">
    <h1>Edit {{task}}</h1>
    <form method="POST" action="">
      {% csrf_token %}
      {{ form.non_field_errors }}
      
      {% for field in form %}
        <div class="mb-3">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <div class="text-danger">{{ error }}</div>
          {% endfor %}
        </div>
      {% endfor %}
      
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="{% url 'task-list' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
  {% include "footer.html" %}
</body>
</html>