{% extends 'base.html' %}
{% load static %}
{% block title %}Delete {{task}}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'style-deleteaccount.css' %}">
{% endblock %}

{% block content %}


    <h2>Are you sure you want to delete {{task}}?</h2>
    <form method="post" class="d-flex justify-content-center gap-3 mt-4">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Yes, delete {{task}}</button>
      <a href="{% url 'task-list' %}" class="btn btn-secondary">Cancel</a>
    </form>


{% endblock %}

